<div class="row" id="topic<%=topic.id%>">
	<div class="col-md-10" id="title-column">
		<div class="row">
			<div class="col-md-5" align="left" id="topic<%=topic.id%>-title-row">
			<h3><%= topic.title.titleize %>
			<%= link_to "New bookmark", new_topic_bookmark_path(topic), id:"topic#{topic.id}-new-button", class: 'btn btn-xs btn-info', remote: true %></h3>
			</div>
			<div class="col-md-7"></div>
		</div><br />
		<div class="row-fluid bookmark-container-row" id="bookmark-row<%=topic.id%>">
			<%= render topic.bookmarks %> &nbsp;
		</div>
	</div>

	<div class="col-md-2 topic-buttons">
		<%= link_to "Delete Topic", user_topic_path(@user, topic), class: 'btn btn-danger', method: :delete, remote: true %>
	</div>
	<br />
	<br />
</div>

	
